footer{
    width:100vw;
    height: 150px;
    display:grid;
    position: relative;
    margin-left: -100px;
    bottom: -300px;
    grid-template-columns: repeat( 3, auto);
    grid-column-gap: 5%;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: fit-content;
    .logo{
        &{
            scale: .8;
        }
    }
    ul{
        justify-self: center;
        list-style: none;
        display:flex;
        align-items: center;
        a{
            color:orange;
            margin: 0 10px;
        }
    }
    .iconsContainer{
        i{
            margin:5px;
            font-size: 30px;
            color:grey;
        }
    }
    h3{
        color:#888;
    }
}
@media(max-width:426px){
    footer{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 60vh;
        margin:10px auto;
        img{
            width:100px;
        }
        ul{
            justify-self: center;
            list-style: none;
            display:flex;
            align-items: center;
            a{
                color:orange;
                margin: 0 10px;
            }
        }
        .iconsContainer{
            i{
                margin:5px;
                font-size: 30px;
                color:grey;
            }
        }
        h3{
            margin:20px 20px;
            text-align: center;
            color:#888;
        }
        margin:auto auto
    }
}